* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #FF9A4B;
  height: 50px;
  width: 100%;
}
.main-contents {
  display: flex;
  width: 960px;
  margin: 50px auto;
}
.step {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}
.step:last-child {
  margin-right: 0;
}
.step1-image {
  background-image: url(img9/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step2-image {
  background-image: url(img9/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step3-image {
  background-image: url(img9/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}
h4 {
  position: absolute;
  background-color: #FF9A4B;
  color: white;
  top: 0;
  left: 0;
}
h3 {
  margin: 15px 0 5px;
}
footer {
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 50px;
  }

  .main-contents {
    width: 90%;
    display: block;
    margin: 50px auto;
    }
  .step {
    margin: 0 0 20px 0;
    padding: 0px;
    position: relative;
  }
  .step:first-child {

    margin: 0px 0 20px 0;
  }
  .step:last-child {

    margin-bottom: 0px;
  }
  .step1-image {
    height: 150px;
  }
  .step2-image {
    height: 150px;
  }
  .step3-image {
    height: 150px;
  }
  footer {
    width: 100%;
    height: 50px;
  }
}